<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>luxe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4AF1DAB1ED7B3CB0002EDE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AF1DBF1ED7B3CB0002EDE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AF1DCA1ED7B3CB0002EDE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
